ebooklib
bs4
ipykernel
nltk
numpy==1.26.4
wordcloud
pyopenie
networkx
jsons
typing
graphviz
pandas
transformers==4.48.1
spaCy==3.5.4
coreferee
langchain
langchain-community
langchain-huggingface
guidance
jsonpickle
Jinja2
autocorrect
prettytable