{% if parts %}
{% for part in parts %}
from {{className}}_parts.{{part.classname}} import {{part.classname}}
{% endfor %}
{% endif %}
{% if general_parents %}
from {{general_parents[0]}} import {{general_parents[0]}}
{% endif %}
{% if module_imports %}
{% for module in module_imports %}
{{module}}
{% endfor %}
{% endif %}
{% if matched_system_components%}
{% for matched_system_component in matched_system_components %}
from {{matched_system_component}} import {{matched_system_component}}
{% endfor %}
{% endif %}

{% if general_parents %}
class {{className}}({{general_parents[0]}}):
{% else %}
class {{className}}:
{% endif %}
{% if class_comments %}
    """
    {{class_comments}}
    """
{% endif %}
    
    {% if add_init_args%}
    def __init__(self, {{add_init_args}}):
    {% else %}
    def __init__(self):
    {% endif %}
    {% if attributes %}
    {% for attribute in attributes %}
        {%if attribute.isNumeric %}
        self.{{attribute.category}} = {{attribute.value}} # {{attribute.unit}}
        {% else %}
        self.{{attribute.category}} = "{{attribute.value}}"
        {% endif %}
    {% endfor %}
    {% endif %}
    {% if parts %}
    {% for part in parts %}
        self.{{part.name}} = {{part.classname}}()
    {% endfor %}
    {% endif %}
    {% if not parts and not attributes%}
        pass
    {% endif %}
    {% if function_states %}
        {% for state in function_states%}
        self.{{state}} = initial_{{state}}
        {% endfor %}
    {% endif %}

    {% if methods %}
    {% for method in methods %}
    {%if method.parameters%}
    def {{method.name}}(self, {{method.parameters}}):
    {% else %}
    def {{method.name}}(self):
    {% endif %}
    {% if method.comments %}
        """
        {{method.comments}}
        """
    {% endif %}
    {% if method.body %}
        {{method.body}}
    {% else %}
        pass
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if rendered_methods %}
    {% for method in rendered_methods %}
    {{method}}
    {% endfor %}
    {% endif %}

